---
layout: splash
permalink: /courses/
hidden: true
author_profile: false
title: "Achieving Learning Success: Commitment, Perseverance, and Consistency"
header:
  overlay_image: /assets/images/header/apple-eye.jpg
  overlay_filter: 0.5
intro: 
  - excerpt: 'Kami adalah tim kecil yang terdiri dari pengembang yang bersemangat dan terus berupaya menciptakan sumber daya pemrograman yang akurat dan mudah dipahami.<br>Kami memahami bahwa membuat konten tekstual di web untuk mempelajari pemrograman saja tidak cukup, Untuk meningkatkan pengalaman belajar pengguna kami.'
feature_row:
  - image_path: /assets/images/algoritma.png
    alt: "customizable"
    title: "Logika dan Algoritma"
    excerpt: "Here I try tLogika adalah ilmu penalaran benar dan salah, sementara algoritma adalah serangkaian langkah terstruktur untuk menyelesaikan masalah. Dalam pengembangan perangkat lunak, logika membentuk aturan, sementara algoritma mengimplementasikan langkah-langkah sesuai dengan aturan itu untuk mencapai tujuan. Keduanya penting dalam ilmu komputer dan pemrograman."
    url: "/categories/#learn/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: /assets/images/journal.jpg
    url: "/categories/#article/"
    alt: "fully responsive"
    title: "Articles"
    excerpt: "Artikel bertujuan memberikan informasi yang berguna kepada pembaca. Informasi tersebut bisa berupa berita terbaru, pengetahuan tentang suatu topik, panduan, atau analisis."
    btn_class: "btn--primary"
    btn_label: "Article More"
  - image_path: /assets/images/blog.jpg
    alt: "100% free"
    title: "Projects"
    excerpt: "Projects, resulting from whatever half baked ideas thrown into the oven at medium heat."
---

{% include feature_row id="feature_row1" type="center" %}

{% include feature_row %}
