---
layout: splash
permalink: /
hidden: true
author_profile: false
title: "Achieving Learning Success: Commitment, Perseverance, and Consistency"
header:
  overlay_image: /assets/images/header/apple-eye.jpg
  overlay_filter: 0.5
  actions:
      - label: "About Me"
        url: "/about/"
excerpt:
  Misi kami adalah membantu pengguna mempelajari pemrograman dengan lebih mudah.
intro: 
  - excerpt: 'Kami adalah tim kecil yang terdiri dari pengembang yang bersemangat dan terus berupaya menciptakan sumber daya pemrograman yang akurat dan mudah dipahami.<br>Kami memahami bahwa membuat konten tekstual di web untuk mempelajari pemrograman saja tidak cukup, Untuk meningkatkan pengalaman belajar pengguna kami.'
feature_row:
  - image_path: /assets/images/learn.jpg
    alt: "customizable"
    title: "Learns"
    excerpt: "Here I try to teach what I have learned and try to ask and answer interesting questions."
    url: "/categories/#learn/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: /assets/images/journal.jpg
    url: "/categories/#article/"
    alt: "fully responsive"
    title: "Articles"
    excerpt: "Artikel bertujuan memberikan informasi yang berguna kepada pembaca. Informasi tersebut bisa berupa berita terbaru, pengetahuan tentang suatu topik, panduan, atau analisis."
    btn_class: "btn--primary"
    btn_label: "Article More"
  - image_path: /assets/images/blog.jpg
    alt: "100% free"
    title: "Projects"
    excerpt: "Projects, resulting from whatever half baked ideas thrown into the oven at medium heat."
feature_row1:
  - image_path: /assets/images/think.png
    alt: "School Programs"
    title: "School Programs"
    excerpt: "Let us think of education as the means of developing our greatest abilities, because in each of us there is a private hope and dream which, fulfilled, can be translated into benefit for everyone and greater strength for our nation. (John F. Kennedy)"
feature_row2:
  - image_path: /assets/images/edu.png
    alt: "Easy"
    title: "Programming made easy"
    excerpt: 'Kami fokus pada kesederhanaan. Tutorial dan contoh pemrograman ditulis dalam bahasa yang sederhana dan mudah dimengerti oleh pemula.'
feature_row3:
  - image_path: /assets/images/trust.png
    alt: "Content"
    title: "Content You Can Trust"
    excerpt: 'Sekelompok ahli berdedikasi terus bekerja untuk menciptakan sumber daya pemrograman yang akurat dan mudah dipahami.'
feature_row4:
  - image_path: /assets/images/doing.png
    alt: "Learn"
    title: "Learn by Doing"
    excerpt: 'Satu-satunya cara untuk belajar memprogram adalah dengan menulis kode. Kami menyediakan banyak contoh lengkap sehingga Anda dapat menjalankan dan mengedit kode sendiri.'
---
{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row1" type="center" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="left" %}

{% include feature_row %}
